.page-layout-view-default,
.ka-container-layout {
	display: flex;
}

.ka-container-layout {
	flex-direction: column;
}

.designer-content-drag {
	border: 1px solid #86d0e0;

	&.active {
		border-style: dotted;
		border-color: #32a0c0;
	}
}
